# Docker
.env
.env.local

# Rails & Ruby
backend/tmp/*
!backend/tmp/pids/
!backend/tmp/cache/
backend/tmp/pids/*
!backend/tmp/pids/.keep
backend/tmp/cache/*
!backend/tmp/cache/.keep
backend/log/*
!backend/log/.keep
backend/*.pid
*.gem
*.rbc
.bundle/
vendor/bundle

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
frontend_desktop/venv/
dist/
build/
*.spec

# OS
.DS_Store
Thumbs.db
